<div class="container">
    <div class="row">
        <div class="col-sm-2 text-center">
            <img class="logo_entete" src="/img/logo.jpg" />
        </div>
        <div class="col-sm-10">
            <h2 class="titre_formulaire">Attestation de prise de connaissance et d'acceptation des risques encourus par le participant</h2>
        </div>
    </div>


    <p>
        <div class="form-group row">
            <label for="Nom" class="col-sm-3 col-form-label champ">
                Nom *
            </label>
            <div class="col-sm-9">
                <input name="Nom" id="Nom" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.nom}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="Prenom" class="col-sm-3 col-form-label champ">
                Prénom *
            </label>
            <div class="col-sm-9">
                <input name="Prenom" id="Prenom" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.prenom}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="AdresseCourriel" class="col-sm-3 col-form-label champ">
                Adresse courriel *
            </label>
            <div class="col-sm-9">
                <input name="AdresseCourriel" id="AdresseCourriel" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.adresse_courriel}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="Telephone" class="col-sm-3 col-form-label champ">
                Téléphone *
            </label>
            <div class="col-sm-9">
                <input name="Telephone" id="Telephone" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.telephone}}">
            </div>
        </div>
    </p>

    <p class="text-formulaire">
        Je, soussigné(e), reconnais que la pratique des activités de plein air du Club L’Aval telles que la
        randonnée, le ski, la raquette, le camping, le vélo, le canot, le kayak ou tout autre sport/activité pratiqué par le
        Club L’Aval comporte des risques inhérents et aléatoires ainsi que certains dangers pouvant causer ou mener à
        la mort ainsi qu’à des blessures, dommages à la propriété, maladies, handicaps et traumatismes mentaux ou
        émotionnels. Les risques comprennent : l’environnement naturel ou sauvage, les risques associés au jugement
        personnel, au parcours, à la situation géographique, à l’équipement, à la cuisine et autres corvées en camping,
        ainsi que tout autre risque lié aux activités de plein air.
    </p>

    <p class="text-formulaire">
        Je reconnais avoir les habiletés et les capacités physiques et intellectuelles nécessaires pour pratiquer de façon
        sécuritaire les activités du Club L’Aval. Par ailleurs, je reconnais que j’ai, pour chaque activité, l’occasion de
        m’informer des aptitudes et du matériel requis ainsi que des risques spécifiques à l’activité auprès de
        l’animateur lors de la réunion de préparation de l’activité et en tout temps avant l’activité par l’intermédiaire de
        la fonction de contact du site internet du Club L’Aval.
    </p>
    <p class="text-formulaire">
        En cas d’accident, j’accepte que les animateurs du Club L’Aval interviennent et qu’ils communiquent avec les
        services d’urgence si nécessaire. Il est de mon devoir de détenir toutes les assurances de responsabilité civile et
        personnelle en cas d’accident, de frais ambulanciers, de bris, de perte ou vol d’objets personnels. Dans le cas
        contraire, je comprends que je dois assumer personnellement tous les frais inhérents.
    </p>
    <p class="text-formulaire">
        Le Club L’Aval n’est en aucun cas responsable de la perte, du vol ou des dommages causés aux biens personnels
        du participant.
    </p>
    <p class="text-formulaire">
        Je déclare que j’ai lu et que je comprends cette attestation. Je reconnais avoir pu poser toute question
        concernant ce document auprès d’un représentant du Club L’Aval et j’accepte le tout.
    </p>


    <p><strong>Contact en cas d’urgence</strong></p>

    <p>
        <div class="form-group row">
            <label for="NomPrenomContact" class="col-sm-3 col-form-label champ">
                Nom & prénom *
            </label>
            <div class="col-sm-9">
                <input name="NomPrenomContact" id="NomPrenomContact" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.nom_prenom_contact}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="LienContact" class="col-sm-3 col-form-label champ">
                Lien *
            </label>
            <div class="col-sm-9">
                <input name="LienContact" id="LienContact" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.lien_contact}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="TelephoneContact" class="col-sm-3 col-form-label champ">
                Téléphone *
            </label>
            <div class="col-sm-9">
                <input name="TelephoneContact" id="TelephoneContact" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.telephone_contact}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="AdresseContact" class="col-sm-3 col-form-label champ">
                Adresse *
            </label>
            <div class="col-sm-9">
                <input name="AdresseContact" id="AdresseContact" class="form-control" placeholder="" type="text" minlength="3" readonly value="{{this.adresse_contact}}">
            </div>
        </div>
    </p>

    <p class="champ">
        <div class="form-check">
            <input name="AccepteRisque" id="AccepteRisque" class="form-check-input" placeholder="" type="checkbox" checked disabled>
            
            <label class="form-check-label" for="AccepteRisque">
                <strong>En cochant cette case j'atteste avoir lu et compris l'enssemble du formulaire et en accepte les termes mensionnés.</strong>
            </label>
        </div>
    </p>

    <p class="champ text-center">
        <input class="btn btn-dark" type="submit" value="retour" id="retour" />
    </p>

</div>


{{#contentFor "pageStyles"}}
    <link href="/css/formulaire.css" rel="stylesheet">
{{/contentFor}}

{{#contentFor "pageScripts"}}
    <script>
        $(function() {

            $('#retour').click(function() {
                window.history.back();
            }); 

        });
    </script>
{{/contentFor}}