<div class="container">
    <h2 class="text-center">{{membre.prenom}} {{membre.nom}}</h2>

    {{!-- Information membre --}}
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card shadow border-left-primary">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardIG" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseCardIG">
                    <h6 class="m-0 font-weight-bold text-primary">Information générales</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardIG">
                    <div class="card-body">
                        <input type="hidden" name="numero_sequence_membre" id="numero_sequence_membre"
                            value="{{membre.numero_sequence}}" />
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <i class="far fa-envelope"></i>
                                <strong>Adresse mail :</strong>
                            </div>
                            <div class="col-xs-12 col-md-7">
                                {{membre.adresse_courriel}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <i class="fas fa-mobile-alt"></i>
                                <strong>Téléphone : </strong>
                            </div>
                            <div class="col-xs-12 col-md-7">{{membre.telephone}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <i class="fas fa-birthday-cake"></i>
                                <strong>Date de naissance : </strong>
                            </div>
                            <div class="col-xs-12 col-md-7">{{membre.date_naissance}}</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <i class="far fa-id-badge"></i>
                                <strong>Rôle : </strong>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <select class="form-control form-control-sm" name="role" id="role"
                                    data-value="{{membre.role}}">
                                    <option></option>
                                    {{#each enumeration.ROLE}}
                                    {{#if (eq this.code ../membre.role)}}
                                    <option value="{{this.code}}" selected>{{this.libelle}}</option>
                                    {{else}}
                                    <option value="{{this.code}}">{{this.libelle}}</option>
                                    {{/if}}
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <button class="btn btn-sm btn-primary" type="button" id="enregistrerRole"
                                    data-loading-text="Chargement ..."> Enregistrer</button>
                            </div>
                        </div>

                        <hr class="sidebar-divider">

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <i class="far fa-calendar-check"></i>
                                <strong>Date d'inscription au club : </strong>
                            </div>
                            <div class="col-xs-12 col-md-7">{{membre.date_creation}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Formulaires risques --}}
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card shadow">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardFiche" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseCardFiche">
                    <h6 class="m-0 font-weight-bold text-primary">Formulaires risques</h6>
                </a>
                <div class="collapse show" id="collapseCardFiche">
                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-sm" id="tblFicheRisque">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Adhésion --}}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardAdh" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="collapseCardAdh">
            <h6 class="m-0 font-weight-bold text-primary">Adhésions</h6>
        </a>
        <div class="collapse show" id="collapseCardAdh">
            <div class="card-body">
                <div class="alert alert-info" role="alert">
                    <h5 class="alert-heading">
                        <i class="fas fa-info-circle"></i>
                        Informations
                    </h5>
                    <hr>
                    Adhésions expirés en rouge
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-bordered table-sm" id="tblAdhesions">
                    </table>
                </div>
                <br />


                <div class="row">
                    <div class="col-md-4">
                        <input class="btn btn-success" type="button" value="Modifier l'adhésion"
                            id="btnModifierAdhesion" />
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <div class="float-right">
                            <input class="btn btn-danger ml-auto" type="button" value="Supprimer l'adhésion"
                                id="btnSupprimerAdhesion" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<p class="champ text-center">
    <input class="btn btn-dark" type="button" value="retour" id="retour" />
</p>


<div id="appendModal">
    
</div>




{{#contentFor "pageStyles"}}
<link href="/lib/datatable/datatables.min.css" rel="stylesheet">
{{/contentFor}}


{{#contentFor "pageScripts"}}
<script src="/lib/datatable/datatables.min.js"></script>

<script src="/js/administration/membre/membre.js"></script>

<script>
    $(function () {

        $('#retour').click(function () {
            window.history.back();
        });

    });
</script>
{{/contentFor}}