<div class="container">
    <div class="table-responsive-sm">
        <h3>Liste des membres</h3>
        <table class="table-responsive table-bordered table-sm" id="tbl-membres">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>#</th>
                    <th>Nom / Prenom</th>
                    <th>Adresse courriel</th>
                    <th>Téléphone</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {{#each membres}}
                    <tr>
                        <td>
                            <a href="/membre/consulter/{{this.numero_sequence}}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                        <td>#{{this.numero_sequence}}</td>
                        <td>{{this.nom}} {{this.prenom}}</td>
                        <td>{{this.adresse_courriel}}</td>
                        <td>{{this.telephone}}</td>
                        <td>{{this.role_libelle}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br />

<br />

{{#contentFor "pageStyles"}}
    <link href="/lib/datatable/datatables.min.css" rel="stylesheet">
{{/contentFor}}

{{#contentFor "pageScripts"}}
    <script src="/lib/datatable/datatables.min.js" asp-append-version="true"></script>
    
    <script src="/js/administration/listes/membres.js" asp-append-version="true"></script>
{{/contentFor}}