<div class="container">
    <div class="table-responsive-sm">
        <h3>Liste des activités provenant du site web du club.</h3>
        Le tableau sera alimenté par le wordpress du club par la suite.
        <table class="table table-bordered table-sm" id="tbl-activites">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Nom de l'activite</th>
                </tr>
            </thead>
            <tbody>
                {{#each activites}}
                    <tr data-info-fiche="{{this.nom}} {{this.prenom}}" data-seq-fiche="{{this.numero_sequence}}">
                        <td>
                            <a href="/activite/gerer/{{this.numero_sequence}}">
                                <i class="fas fa-file-alt"></i>
                                Fiche d'inscription
                            </a>
                        </td>
                        <td>
                            <a href="{{this.url}}" target="_new">
                                <i class="fas fa-link"></i>
                                Lien
                            </a>
                        </td>
                        <td>{{this.nom_activite}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    
</div>


{{#contentFor "pageStyles"}}
    <link href="/lib/datatable/datatables.min.css" rel="stylesheet">
{{/contentFor}}

{{#contentFor "pageScripts"}}
    <script src="/lib/datatable/datatables.min.js" asp-append-version="true"></script>
{{/contentFor}}