<div class="container">
    <div class="table-responsive-sm">
        <h3>La calculette</h3>
        <input class="btn btn-dark" type="button" value="Ajouter un participant" id="ajouterParticipant" />
        <input class="btn btn-dark" type="button" value="Ajouter une dépense" id="ajouterDepense" />
        <table class="table table-bordered table-sm" id="tbl-participants">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Participant</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                {{#each membres}}
                    <tr>
                        <td>
                            <a href="/api/calculette/participant/{{@index}}" class="supprimer-participant">
                                <i class="far fa-trash-alt"></i>                   
                            </a>
                        </td>
                        <td>
                            {{this.nom}}<td class="nombre"> {{this.montant}}</td>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
         <table class="table table-bordered table-sm" id="tbl-depenses">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Dépenses</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                {{#each depenses}}
                    <tr>
                        <td>
                        <a href="/api/calculette/depense/{{@index}}" class="supprimer-depense">
                                <i class="far fa-trash-alt"></i>  
                        <a href="/calculette/editerDepense/{{@index}}" class="modifier-depense" id="{{@index}}">
                                <i class="fas fa-edit"></i>  
                        </td>     
                        <td>
                            {{this.description}} 
                            <div><b>Participants</b> </div>
                            <div>{{#each this.participants}} 
                                <div>{{#if this}}<i class="fas fa-check"></i>{{/if}}{{#with (lookup ../../membres @index)}}{{this.nom}}{{/with}} 
                                </div>{{/each}}</div>
                        </td><td class="nombre">{{this.montant}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>       
    </div>
</div>
<br />

<br />
<form id="frmAjouterParticipant">
    <div id="modalAjouterParticipant" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un participant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nom du participant</label>
                        <div class="col-sm-8">
                            <input id="nom"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnAjouterParticipant">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="frmAjouterDepense">
    <div id="modalAjouterDepense" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter une dépense</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <input id="description" value="{{this.description}}"/>{{this.description}}
                        </div>
                        <label class="col-sm-4 col-form-label">Montant</label>
                        <div class="col-sm-8">
                            <input id="montant" class="nombre"/>$
                        </div>
                        <label class="col-sm-4 col-form-label">Kilométrage</label>
                        <div class="col-sm-8">
                            <input id="kilometres" class="nombre"/>km
                        </div>  
                        <label class="col-sm-4 col-form-label">Participant à rembourser</label> 
                        <div class="col-sm-8">
                            <select name="rembourser">
                                <option></option>
                                {{#each membres}}
                                <option value="{{@index}}">{{this.nom}}</option>
                                {{/each}}
                            </select>                  
                        </div>  
                    </div>

                Participants
                {{#each membres}}
                    <li><input type="checkbox" id="dep{{@index}}" name="participants" checked> {{this.nom}} </li>
                {{/each}}
               
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnAjouterDepense">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</form>


{{#contentFor "pageStyles"}}
    <link href="/lib/datatable/datatables.min.css" rel="stylesheet">
{{/contentFor}}

{{#contentFor "pageScripts"}}
    <script src="/lib/datatable/datatables.min.js" asp-append-version="true"></script>
    
    <script src="/js/home/calculette.js" asp-append-version="true"></script>
{{/contentFor}}