<div class="container">
    <div class="table-responsive-sm">
        <h3>Formulaire d'acceptation des risques</h3>
        <strong>en attente d'association a un membre</strong>
        <table class="table table-bordered table-sm" id="formulaires">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse courriel</th>
                    <th>Téléphone</th>
                    <th>Date d'acceptation</th>
                </tr>
            </thead>
            <tbody>
                {{#each formulaires}}
                    <tr>
                        <td>
                            <a href="#" class="cl-icons">
                                <i class="fas fa-link"></i>
                            </a>
                            &nbsp;
                            <a href="/api/membres/{{this.numero_sequence}}" class="cl-icons ajouter-membre">
                                <i class="fas fa-user-plus"></i>
                            </a>
                            &nbsp;
                            <a href="/formulaire/consulter/{{this.numero_sequence}}" class="cl-icons">
                                <i class="far fa-clipboard"></i>
                            </a>
                            &nbsp;
                            <a href="/api/formulaires/{{this.numero_sequence}}" class="cl-icons supprimer-formulaire">
                                <i class="far fa-trash-alt"></i>                   
                            </a>
                        </td>
                        <td>{{this.nom}}</td>
                        <td>{{this.prenom}}</td>
                        <td>{{this.adresse_courriel}}</td>
                        <td>{{this.telephone}}</td>
                        <td>{{this.date_acceptation}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<div id="modalCreerAdhesion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle adhésion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


{{#contentFor "pageStyles"}}
    <link href="/lib/datatable/datatables.min.css" rel="stylesheet">
{{/contentFor}}

{{#contentFor "pageScripts"}}
    <script src="/lib/datatable/datatables.min.js" asp-append-version="true"></script>
    
    <script src="/js/home/formulaires.js" asp-append-version="true"></script>
{{/contentFor}}