<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse courriel</th>
            <th>Téléphone</th>
            <th>Nom & prénom contact</th>
            <th>Lien</th>
            <th>Téléphone</th>
            <th>Adresse</th>
        </tr>
    </thead>
    <tbody>
        {{#each frm}}
            <tr>
                <td>{{this.nom}}</td>
                <td>{{this.prenom}}</td>
                <td>{{this.adresseCourriel}}</td>
                <td>{{this.telephone}}</td>
                <td>{{this.nomPrenomContact}}</td>
                <td>{{this.lienContact}}</td>
                <td>{{this.telephoneContact}}</td>
                <td>{{this.adresseContact}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>