<table class="table" id="formulaires">
    <caption>Formulaire d'acceptation des risques associé à personne</caption>
    <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse courriel</th>
            <th>Téléphone</th>
        </tr>
    </thead>
    <tbody>
        {{#each formulaires}}
            <tr>
                <td>
                    <a href="/api/membres/{{this.numero_sequence}}" class="cl-icons ajouter-membre">
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="/bootstrap-icons/bootstrap-icons.svg#person-plus"/>
                        </svg>
                    </a>
                    <a href="consulter-formulaire/{{this.numero_sequence}}" class="cl-icons">
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="/bootstrap-icons/bootstrap-icons.svg#clipboard-check"/>
                        </svg>
                    </a>
                    <a href="/api/formulaires/{{this.numero_sequence}}" class="cl-icons supprimer-formulaire">
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="/bootstrap-icons/bootstrap-icons.svg#trash-fill"/>
                        </svg>
                    </a>
                </td>
                <td>{{this.nom}}</td>
                <td>{{this.prenom}}</td>
                <td>{{this.adresse_courriel}}</td>
                <td>{{this.telephone}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<table class="table" id="membres">
    <caption>Liste des membres</caption>
    <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse courriel</th>
            <th>Téléphone</th>
        </tr>
    </thead>
    <tbody>
        {{#each membres}}
            <tr>
                <td>
                    <a href="#" class="cl-icons">
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="/bootstrap-icons/bootstrap-icons.svg#clipboard-check"/>
                        </svg>
                    </a>
                    <a href="#" class="cl-icons">                        
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="/bootstrap-icons/bootstrap-icons.svg#trash-fill"/>
                        </svg>
                    </a>
                </td>
                <td>{{this.nom}}</td>
                <td>{{this.prenom}}</td>
                <td>{{this.adresse_courriel}}</td>
                <td>{{this.telephone}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>



{{#contentFor "pageScripts"}}
    <script src="/js/tableau-bord.js" asp-append-version="true"></script>
    <script src="/js/plugin/CL-Modal.js" asp-append-version="true"></script>
{{/contentFor}}