<div class="container">
    <h2 class="text-center">{{nom}}</h2>
        
    {{!-- Information sur la sortie --}}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardIS" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardIS">
            <h6 class="m-0 font-weight-bold text-primary">Information sur la sortie</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardIS">
            <div class="card-body">
                <input type="hidden" name="numero_sequence_membre" id="numero_sequence_membre" value="{{membre.numero_sequence}}" />
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="col-10">
                        {{description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="far fa-calendar-alt"></i> Début :
                    </div>
                    <div class="col-10">
                        {{date_heure_debut}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-calendar-alt"></i> Fin :
                    </div>
                    <div class="col-10">
                        {{date_heure_fin}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-hiking"></i> Difficulté :
                    </div>
                    <div class="col-10">
                        {{difficulte}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="far fa-compass"></i> Volet :
                    </div>
                    <div class="col-10">
                        {{volet}}
                    </div>
                </div>
            </div>
        </div>
    </div>  

    {{!-- Ajout d'un membre --}}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardAjoutMembre" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardAjoutMembre">
            <h6 class="m-0 font-weight-bold text-primary">Ajouter un membre</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardAjoutMembre">
            <div class="card-body">
                <div class="row">
                    
                    <table>

                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    
    {{!-- Liste inscription --}}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardInscription" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardInscription">
            <h6 class="m-0 font-weight-bold text-primary">Liste des membres</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardInscription">
            <div class="card-body">
                <div class="row">
                    
                    <table>

                    </table>

                </div>
            </div>
        </div>
    </div>    

    <p class="champ text-center">
        <input class="btn btn-dark" type="button" value="retour" id="retour" />
    </p>
</div>